asgiref==3.4.1
beautifulsoup4==4.9.3
bootstrap4==0.1.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.2.8
django-bootstrap4==3.0.1
pytz==2021.3
soupsieve==2.2.1
sqlparse==0.4.2
static3==0.7.0
whitenoise==5.3.0
